<h1>Entry Form</h1>
<form action="/visit" method="post">
    <select name="type" id="">
        <option value="host">Host</option>
        <option value="visitor">Visitor</option>
    </select><br>
    Name: <input type="text" name="name" id=""><br>
    Email: <input type="email" name="email" id=""><br>
    Phone: <input type="text" name="phone" id=""><br>
    Visiting: <input type="text" name="host" id=""><br>
    <button type="submit">Submit</button>
</form>